langchain
langchain-openai
python-dotenv
langchain_community
langchain_core
streamlit
langchain_chroma
langchain_huggingface
langchain_groq
sentence-transformers
arxiv
wikipedia
faiss-cpu
duckduckgo-search
mysql-connector-python
SQLAlchemy
boto3
awscli
pypdf